

<h1> Eat-Da-Burger</h1>

<div id="prepDiv">
    {{!-- 
    put eat uneaten burger here in own container...
     do I need separate containers? 
     --}}
     {{#each unDevoured}}
        <div>{{preBurger}}</div>
        {{/each}}
</div>
<ul>
{{#each foods }}
  <li>{{lunch}}</li>
{{/each}}
</ul>


<div id="finDiv">
    {{!-- 
    put eat eaten burger here in own container...
     do I need separate containers? 
     --}}
      {{#each devoured}}
        <div>{{postBurger}}</div>
</div>

<form action="/action_page.php">
  <textarea id="input1" rows="6" cols="40">
  <input type="submit" value="Submit">
</form>
<p>Click the "Submit" button to add a new burger to the lineup</p>

