<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger!</title>

    {{!-- <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" /> --}}
    {{!-- css does not work --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="../../public/assets/js/client.js"></script> --}}
    {{!--  --}}
</head>

</head>

<body>
    {{{ body }}}
    {{!-- if stylesheet refuses to work... I'll work here --}}
    <style>
        #subButton {
            background-color: cadetblue;
        }

        body {
            background-color: salmon;
        }

        .postDiv {
            background-color: seagreen;
            width: 260px;
        }

        .preDiv {
            background-color: sienna;
            width: 260px;
        }

        .burger-holder {

            height: 33px;
            color: silver;
        }
    </style>
    <script>
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SCRIPT
        //we propably need a function to make everythign wait until pageloads...


        //devouring burgers...
        $(".eat-me").on("click", function (event) {
            event.preventDefault();
            let id = $(this).data("id");
            //I dont know how this works...
            // ... "data-id={{id}}" in partial
           console.log("clicked devour");

            $.ajax("/api/burgers/" + id, {
                type: "PUT"
 
                //what do I put in data; json, value...?
            }).then(
                function () {
                    console.log("changed item");
                    // Reload the page to get the updated list
                    location.reload();
                }
            );
        });
// I need this function to give server the id to be changed...
//thats really all I want... right?




    </script>
</body>

</html>