<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat-Da-Burger!</title>

    {{!-- <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" /> --}}
    {{!-- css does not work --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="../../public/assets/js/client.js"></script> --}}
    {{!--  --}}
</head>

</head>

<body>
    {{{ body }}}
    {{!-- if stylesheet refuses to work... I'll work here --}}
    <style>
        #subButton {
            background-color: cadetblue;
        }

        body {
            background-color: salmon;
        }

        .postDiv {
            background-color: seagreen;
            width: 260px;
        }

        .preDiv {
            background-color: sienna;
            width: 260px;
        }

        .burger-holder {

            height: 33px;
            color: silver;
        }
    </style>
    <script>
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SCRIPT
        //submit button
        //submit button function is not working
        //...does this need to ...happen here?
        // having this function prevents data creation in database
    /*
        $(".main-form").on("submit", function (event) {
            event.preventDefault();
            console.log("test");
            console.log(event);
            //console.log(submitField); //this does not work
            console.log($("#input1").val());    //this sends data
            //.trim() was not working... probably not considered a string

            /*
            let myBurger = {
                burger_name: $("submitField").val().trim(),       //should it be "submitField?"
                //"#input1" is undefined
                devoured: false
            };

            $.ajax("/api/burgers", {
                type: "POST",
                data: myBurger
            }).then(
                function () {
                    console.log("posted new burger");
                    { { !--location.reload(); --} }
                    // this is not happening yet- probably because post did not go thru...
                }
            );
            
        });
*/
        //should the route be the same as the get, for restfulness?
        // this is not running- form is broken
        // https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form

    //devouring burgers...

    </script>
</body>

</html>