<h1> Eat-Da-Burger</h1>

<div class="preDiv">
  {{#each burger}}
  {{#unless devoured}}
  {{>burgers/partialBurger devoured=false}}
  {{/unless}}
  {{/each}}
</div>


<div class="postDiv">
  {{#each burger}}
  {{#if devoured}}
  {{>burgers/partialBurger devoured=true}}
  {{/if}}
  {{/each}}
</div>

{{!-- will need to add css to make postDiv and preDiv look different and appear on different side sof the screen --}}


<form action="/api/burgers" method="POST">
  <textarea id="input1" rows="6" cols="40" name="submitField"></textarea>
  <input type="submit" value="Submit" id="subButton">
</form>
<p>Click the "Submit" button to add a new burger to the lineup</p>
